:root {
    /* Tema claro */
    --contrast: #f3e8eeff;
    --card: #bacdb0ff;
    --secondary: #729b79ff;
    --primary: #475b63ff;
    --footer: #2e2c2fff;

    /* Tema oscuro */
    --dark-base: #170312ff;
    --dark-secondary: #33032fff;
    --dark-primary: #531253ff;
    --dark-contrast: #a0acadff;
    --dark-card: #97d8b2ff;

}

* {
    box-sizing: border-box;
}

/*Definimos 3 filas del cuerpo principal de la página*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--dark-base);
}

#main-header {
    background-color: var(--primary);
    padding: 0.5rem;
    text-align: center;
    color: var(--contrast);
}

#logo {
    padding: 1rem;
}

#main-header nav ul li {
    list-style: none;
    display: inline;
    margin: 0rem 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

nav {
    padding: 0rem 0rem 1rem 0rem;
}

.nav-icons{
    display: inline-block;
    vertical-align: bottom;
    width: 3rem;
    height: 3rem;
    gap: 1rem;
}

#main-header nav ul li a {
    text-decoration: none;
    color: var(--contrast);
    font-size: 1.5rem;
    transition: 0.3s ease-out;
    margin: 10rem 0px;
    vertical-align: super;
}

/* selling section */
#selling-sec {
    background-color: var(--secondary);
    padding: 1rem;
    margin: 1rem 0px;
    text-align: center;
    overflow: hidden;
    color: var(--contrast)
}

/* Cards enveloper */
.productos {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: var(--card);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    color: var(--primary);
    transition: 0.3s ease-out;
}

.card img {
    width: 12rem;
    height: 13rem;
    border-radius: 10px;
}

/* Footer Class */
#main-footer {
    background-color: var(--footer);
    padding: 1rem;
    text-align: center;
    color: var(--contrast);
}